<ng-template #bodyTemplate>
  <div class="container" content>
    <div class="row mb-3" *ngIf="!!bodyText">
      <div class="col">
        {{bodyText}}
      </div>
    </div>
    <div class="row">
      <div class="col" >
        <button class="btn btn-primary" (click)="confirm()">{{'global.yes' | translate}}</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="close()">{{'global.no' | translate}}</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="openBasModal()">open</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <div class="container">
    <div class="row">
      <div class="col">{{footerText}}</div>
    </div>
  </div>
</ng-template>

<app-basic-modal [title]="title"
                 [bodyTemplate]="bodyTemplate"
                 [footerTemplate]="footerTemplate">
</app-basic-modal>
